ul{
  list-style-type: none;
}

ul li {
  text-align: center;
  color:white;
}

.footer{
  display:flex;
  justify-content:center;
  background-color:#5a7c5a;
  align-items:center;
  min-height:30vh;
  margin-top:10vh;
}
.footerBrandName{
  color:white;
}
.logo{
  width:80px;

}

h1{font-family:karelle;
  font-size:20px;
}
